{% extends 'main/base.html' %}
{% block title %}Sign In{% endblock %}
{% block content %}
<section class="container-form">
    <div class="form-login">
        <div class="form-content">
            <header>Sign In</header>

            <form action="" method="post">
                {% csrf_token %}
                <div class="field input-field">
                    <input type="text" class="input" placeholder="Username" name="username">
                </div>

                <div class="field input-field">
                    <input type="password" class="input" placeholder="Password" name="password">
                </div>

                <div class="field button-field">
                    <button>Login</button>
                </div>

                <div class="form-link">
                    <span>Don't Have Any Account? </span><a href="{% url 'signup' %}" class="signup-link">Signup</a>
                </div>
            </form>
        </div>
            </a>
        </div>
    </div>
</section>
{% endblock %}